body {
  margin: 0;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
  background-color: #0f1115;
  color: #f5f7fa;
  line-height: 1.6;
}

header {
  background-color: #0f172a;
  padding: 16px 32px;
  display: flex;
}

.logo {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logo img {
  height: 50px;
}

.logo span {
  color: #f8fafc;
  font-weight: bold;
  font-size: 1.1rem;
}

.links {
  display: flex;
  align-items: center;
  margin-left: auto;
  gap: 35px;
}

.links a:hover {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: #f5f7fa;
  font-weight: bold;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px 32px;
  background-color: #f8fafc;
  gap: 40px;
  margin: 0 auto;
}

.hero-text {
  max-width: 500px;
}

.hero-img img {
  width: 450px;
  max-width: 100%;
  height: auto;
  display: block;
}

.hero-text h1 {
  font-size: 2.5rem;
  margin-bottom: 16px;
  color: #0f172a;
}

.hero-text p {
  font-size: 1.1rem;
  margin-bottom: 24px;
  color: #334155;
}

.hero-text button {
  background-color: #dc2626;
  color: white;
  border: none;
  padding: 12px 24px;
  font-size: 1rem;
  border-radius: 6px;
  cursor: pointer;
}

.collection {
  background-color: #e5e7eb;
  color: #1e293b;
  display: block;
  padding: 5px 10px;
}

.collection h2 {
  color: #0f172a;
  text-align: center;
  text-decoration: underline;
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 225px;
  max-height: auto;
}

.card h3 {
  text-align: center;
}

.card img {
  width: 170px;
  height: 100px;
  border: solid #dc2626 3px;
  border-radius: 25px;
}
